/* 
em - RELATIVE depends on parent
1em = 16px default browser style
1em = base value
*/
html{
    font-size: 32px;
}
div{
    font-size: 40px;
}
.relative{
    font-size: 1.5rem;
}
.absolute{
    font-size: 48px;
}
