/* css rule */
/* selectors */
/* declaration blocks */
/* declaration */
/* property */
/* value */

#title {
    color: green;
    background: black;
}
#subheading {
    color: red;
    background: gray;
}