/* css rule */
/* selectors */
/* declaration blocks */
/* declaration */
/* property */
/* value */

.green{
    color: green;
}
.red {
    color: yellow;
    background: orange;
}
div{
    color: red;
    background: gray;
}
span{
    text-transform: uppercase;
}